.tagctt {
    .tags-count {
        font-size: 1.25rem;
        padding: 2px 0 0 25px;
        margin-bottom: 1em;
    }
    .tag-item {
        display: block;
        color: #ca4a23;
        padding: 2px 0 0 50px;
        &:hover {
            border-bottom: 0;
            // color: #267B54;
            color: #b1400c;
        }
    }
}